{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="main--root">
    <!-- dashboard menu bar -->
    {% include 'tracker/components/dashboard_menu_bar.html' %}
    <!-- dashboard -->
    <div class="dashboard--content">
        <!-- title -->
        <div class="dashboard--content--title">
            <h3>Dashboard</h3>
            <p class="text-muted">See all your shipment overview here</p>
        </div>
        <!-- short analytics -->
        <div class="dashboard--content--analytics">
            <div class="analytics--row">
                {% for card in analytics_card %}
                <!-- analytics card component -->
                <div class="column--md--3">
                    <div class="bg-dark p-2 rounded analytics--card">
                        <!-- top part -->
                         {% if card.card_title == 'Shipment' %}
                            <div class="analytics--card--top">
                                <i class="fa {{ card.card_icon_name }}"></i>
                                <small>{{ card.card_title }}</small>
                            </div>
                            <!-- middle part -->
                            <div class="analytics--card--middle">
                                <h4>{{ shipment_count }}</h4>
                                <!-- <i
                                    class="fa fa-arrow-up analytics--grows--dark"></i> -->
                            </div>
                            {% elif card.card_title == 'Customers' %}
                                <div class="analytics--card--top">
                                    <i class="fa {{ card.card_icon_name }}"></i>
                                    <small>{{ card.card_title }}</small>
                                </div>
                                <!-- middle part -->
                                <div class="analytics--card--middle">
                                    <h4>{{ total_customers }}</h4>
                                    <!-- <i
                                        class="fa fa-arrow-up analytics--grows--dark"></i> -->
                                </div>

                            {% elif card.card_title == 'Pending' %}
                                <div class="analytics--card--top">
                                    <i class="fa {{ card.card_icon_name }}"></i>
                                    <small>{{ card.card_title }}</small>
                                </div>
                                <!-- middle part -->
                                <div class="analytics--card--middle">
                                    <h4>{{ pending_orders }}</h4>
                                    <!-- <i
                                        class="fa fa-arrow-up analytics--grows--dark"></i> -->
                                </div>   
                            {% else %}
                                <div class="analytics--card--top">
                                    <i class="fa {{ card.card_icon_name }}"></i>
                                    <small>{{ card.card_title }}</small>
                                </div>
                                <!-- middle part -->
                                <div class="analytics--card--middle">
                                    <h4>{{ card.card_value }}</h4>
                                    <!-- <i
                                        class="fa fa-arrow-up analytics--grows--dark"></i> -->
                                </div>
                         {% endif %}
                        
                        <!-- bottom part -->
                        <div class="analytics--card--bottom">
                            <span class="analytics--grows--light">
                                +{{card.card_incr_decr_value }}%
                            </span> <p>vs last
                                month</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- shipments -->
        <div class="dashboard--content--shipments">
            <!-- title or maybe and filters -->
            <div class="dashboard--content--shipments--title">
                <h5 class="shipments--title">Shipments</h5>
                <p class="text-muted">Recent shipments</p>
            </div>
            <!-- shipment cards -->
            <div class="dashboard--content--shipments--cards">
                {% for package in packages_traced %}
                    <div class="bg-secondary shadow-lg p-4 rounded shipment--card">
                        <!-- top part -->
                        <div class="dashboard--content--shipments--cards--top">
                            <!-- left side -->
                            <div class="left--side">
                                <p><i class="fa fa-cube"></i></p>
                                <p class="text-truncate shipment--lookup--id">{{ package.package_id.tracking_id }}</p>
                            </div>
                            <!-- right side -->
                             {% for status in package.status_id.all %}
                                {% if status.description == 'Picked Up' %}
                                    <div class="right--side">
                                        <p class="bg-danger small p-1 rounded shipment--card--status">{{ status.description }}</p>
                                    </div>
                                {% elif status.description == 'In Transit' %}
                                    <div class="right--side">
                                        <p class="bg-warning small p-1 rounded shipment--card--status">{{ status.description }}</p>
                                    </div>
                                {% elif status.description == 'Delivered' %}
                                    <div class="right--side">
                                        <p class="bg-success p-1 rounded shipment--card--status">{{ status.description }}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <!-- middle part -->
                        <div class="dashboard--content--shipments--cards--middle">
                            <!-- image -->
                            {% for status in package.status_id.all %}
                                {% if status.description == 'Picked Up' %}
                                    <img class="mb-0 shadow border-danger custom--border--thick" src="{% static 'images/picked_up_courier.png' %}" />
                                {% elif status.description == 'In Transit' %}
                                    <img class="mb-0 shadow shadow border-warning custom--border--thick" src="{% static 'images/in_transit_courier.png' %}" />
                                {% elif status.description == 'Delivered' %}
                                    <img class="mb-0 shadow shadow border-success custom--border--thick" src="{% static 'images/delivered_courier.png' %}" />
                                {% endif %}
                            {% endfor %}
                            <!-- customer details -->
                            <div class="mb-0 customer-details">
                                <div class="customer">
                                    <!-- customer name -->
                                    <div class="customer--column--layout">
                                        <p class="text-warning mb-0 font--bold"><small>Customer</small></p>
                                        {% for customer in package.package_id.sender.all %}
                                            <p class="mt-0 customer--name">{{ customer.get_full_name }}</p>
                                        {% endfor %}
                                    </div>
                                    <!-- arrival date -->
                                    <div class="package--arrival--column--layout">
                                        <p class="text-info mb-0 font--bold"><small>Est. Arrival</small></p>
                                        <p class="mt-0">21 Aug 2023</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-0 mb-0" />
                            <!-- package details -->
                            <div class="mt-0 customer-details">
                                <div class="ml-0 customer">
                                    <!-- arrival address -->
                                    <div class="customer--column--layout">
                                        <p
                                            class="text-warning mb-0 font--bold"><small>Arr.
                                                Addr</small></p>
                                        <p class="customer--name">{{ package.package_id.recepient_address }}</p>
                                    </div>
                                    <!-- arrival days -->
                                    <div class="package--arrival--column--layout">
                                        <p
                                            class="text-info mb-0 font--bold"><small>Est.
                                                Time</small></p>
                                        <p class="mt-0">{{ package.package_id.estimated_time_arrival }} day(s)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- bottom part -->
                        <a class="btn btn-dark" href="shipments/details/1">Details</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <!-- transactions -->
        <div></div>
    </div>
</div>
{% endblock content %}