<div class="modal fade" id="shipmentItemModal" tabindex="-1" aria-labelledby="shipmentItemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shipmentItemModalLabel">Shipment Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Shipment ID: <span id="modal-shipment-id"></span></p>
        <p>Tracking Number: <span id="modal-tracking-id"></span></p>
        <!-- Add other details as needed -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
